<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Product information</title>
     <!-- Bootstrap -->
        <link href="{{ url_for('static',filename='bootstrap.min.css') }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='unite.css') }}">
		<script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>

		<script type="text/javascript">
$(function () {

    $(document).ready(function () {

        // Build the chart
        Highcharts.chart('container1', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Mobilephone market shares January, 2015 to May, 2015'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: [{
                    name: 'HUAWEI',
                    y: 35.33
                }, {
                    name: 'XIAOMI',
                    y: 33.03,
                    sliced: true,
                    selected: true
                }, {
                    name: 'OPPO',
                    y: 15.38
                }, {
                    name: 'VIVO',
                    y: 15.77
                }, {
                    name: 'HTC',
                    y: 0.29
                }, {
                    name: 'Proprietary or Undetectable',
                    y: 0.2
                }]
            }]
        });
    });
});
		</script>
		<script type="text/javascript">
$(function () {
    // Create the chart
    Highcharts.chart('container2', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Mobilephone market shares. January, 2015 to May, 2015'
        },
        subtitle: {
            text: 'Click the columns to view versions. Source: <a href="http://netmarketshare.com">netmarketshare.com</a>.'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Total percent market share'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'HUAWEI',
                y: 35.33,
                drilldown: 'HUAWEI'
            }, {
                name: 'XIAOMI',
                y: 33.03,
                drilldown: 'XIAOMI'
            }, {
                name: 'OPPO',
                y: 15.38,
                drilldown: 'OPPO'
            }, {
                name: 'VIVO',
                y: 15.77,
                drilldown: 'VIVO'
            }, {
                name: 'HTC',
                y: 0.29,
                drilldown: 'HTC'
            }, {
                name: 'Proprietary or Undetectable',
                y: 0.2,
                drilldown: 'others'
            }]
        }],
        drilldown: {
            series: [{
                name: 'HUAWEI',
                id: 'HUAWEI',
                data: [
                    [
                        'honor 5',
                        24.13
                    ],
                    [
                        'honor 8',
                        17.2
                    ],
                    [
                        'honor 4',
                        8.11
                    ],
                    [
                        'honor 3',
                        5.33
                    ],
                    [
                        'mate 7',
                        1.06
                    ],
                    [
                        'P8',
                        0.5
                    ]
                ]
            }, {
                name: 'XIAOMI',
                id: 'XIAOMI',
                data: [
                    [
                        '5',
                        30.35
                    ],
                    [
                        '4',
                        24.32
                    ],
                    [
                        '3',
                        23.68
                    ],
                    [
                        'NOTE 3',
                        5.96
                    ],
                    [
                        'NOTE 2',
                        5.53
                    ],
                    [
                        'HM 1S',
                        4.45
                    ],
                    [
                        'HM 2S',
                        5.71
                    ]

                ]
            }, {
                name: 'OPPO',
                id: 'OPPO',
                data: [
                    [
                        'R9',
                        2.76
                    ],
                    [
                        '8',
                        2.32
                    ],
                    [
                        '7',
                        2.31
                    ],
                    [
                        '6',
                        1.27
                    ],
                    [
                        '5',
                        1.02
                    ],
                    [
                        '4',
                        0.33
                    ],
                    [
                        '3',
                        0.22
                    ],
                    [
                        '2',
                        0.15
                    ]
                ]
            }, {
                name: 'VIVO',
                id: 'VIVO',
                data: [
                    [
                        'v8.0',
                        2.56
                    ],
                    [
                        'v7.1',
                        0.77
                    ],
                    [
                        'v5.1',
                        0.42
                    ],
                    [
                        'v5.0',
                        0.3
                    ],
                    [
                        'v6.1',
                        0.29
                    ],
                    [
                        'v7.0',
                        0.26
                    ],
                    [
                        'v6.2',
                        0.17
                    ]
                ]
            }, {
                name: 'HTC',
                id: 'HTC',
                data: [
                    [
                        'v12.x',
                        0.34
                    ],
                    [
                        'v28',
                        0.24
                    ],
                    [
                        'v27',
                        0.17
                    ],
                    [
                        'v29',
                        0.16
                    ]
                ]
            }]
        }
    });
});
		</script>


</head>
<body>

    <div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand">SOFTDESIGN</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">

				<li><a href="/first/employee">组员</a></li>
				<li><a href="/first/product">产品</a></li>
				<li><a href="/first/sensor">传感器</a></li>

			</ul>

			<button type="button" class="btn btn-default navbar-btn sign-out"><a href="/">退出</a></button>

		</div>

	</div>
</div>

	<div>
		<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>

<div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
	</div>


	<div>
		<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/modules/data.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/modules/drilldown.js"></script>
<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	</div>


</div>

</body>

</html>